*{
    padding: 0px;
    margin: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}

.ab{
    text-align: center;
}
.head{
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    padding: 5px;
}

.bo{
    background-color: rgb(197, 154, 236);
    height: 100% ;
    width: 100%;
    text-align: center;
    padding-top: 100px;
    
}
.input{
    border: 1px solid #db2d2d;
    margin:150px;
    height: 40px;
    width: 800px;
    text-align:left;
    padding:10px;
    border-end-end-radius: 5px;
    border-radius: 20px;  /* input box reduce the sharp */

}
.input:focus{
    border-color: #f17d10;
    box-shadow: 0005px #d8183266;
}
section{
    margin: 0;
    padding: 0;
}
.right{

    width: 73%;
    display: flex;
    justify-content: space-between;  /* content align right left*/
    align-items: flex-start;
    margin-left: 20px;
    padding: 10px;

}
.img{
    display: flex;
    justify-content: space-between;
}
.img1{
    display: flex;
    justify-content: space-between;
}
.left{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 20px;
    padding: 10px;
}

.last{
    background-color: black;
    color: aliceblue;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;

    
}
ul,li{
    margin-left: 15px;
}
.f{
    margin-top: 30px;
}